// 1st Section
.hero-section {
  background-image: url("../../assets/img/FTC-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 55px;
      font-weight: 400;
      margin: 88px 0 60px 0;
      text-align: center;
      font-family: Inter;

      span {
        color: #ff6629;
        font-weight: 600;
      }
    }
  }

  .satellite-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 105px;
  }
}

// 2nd Section
.upcoming-vote {
  background-color: #efeffe;
  padding: 100px 0;

  h2 {
    font-size: 31px;
    font-family: Inter;
    font-weight: normal;
    color: #000;
    line-height: 120%;
    margin-bottom: 10px;

    span {
      font-weight: 600;
      font-size: 30px;
    }
  }

  .first-fcc {
    margin-top: 45px !important;
  }

  p {
    font-family: Inter;
    font-weight: normal;
    color: #000;
    font-size: 19px;
    margin-top: 35px;

    span {
      font-weight: 600;
    }
  }

  .global-market {
    padding: 0 30px;
    height: 535px;

    img {
      height: 100%;
    }
  }
}

// 3rd Section
.parallax {
  background-image: url("../../assets/img/Designer.png");
  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-content {
  text-align: center;
  color: white;
}

.parallax-content h4 {
  font-size: 36px;
  font-family: Inter;
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px;
}

.parallax-content h4 span {
  font-size: 40px;
}

// 4th Section
.fcc-proposal {
  padding: 100px 0;
  background-color: #fff;

  h3 {
    font-size: 31px;
    font-family: Inter;
    font-weight: normal;
    color: #000;
    line-height: 120%;

    span {
      font-weight: 600;
      font-size: 31px;
    }
  }

  .excite-new {
    margin-top: 40px !important;
  }

  p {
    font-family: Inter;
    font-weight: normal;
    color: #000;
    font-size: 18px;
    margin-top: 30px;

    span {
      font-weight: 600;
    }
  }

  .fcc-proposal-img {
    display: flex;
    justify-content: center;
    height: 475px;

    img {
      height: 100%;
    }
  }

  .satenna {
    margin: 20px 0 50px 0;
    width: 100px;
    height: 75px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .dead-zones {
    padding: 40px;
    background-color: #efeffe;
    border-radius: 60px;
    margin: 0 120px;

    h3 {
      font-size: 36px;
      font-family: Inter;
      font-weight: normal;
      color: #000;
      margin-bottom: 20px;
    }
    p {
      font-family: Inter;
      font-weight: normal;
      color: #000;
      font-size: 22px;
      margin-top: 20px;
    }
  }

  .reason-rig {
    height: 250px;
    width: 100%;
    padding-left: 60px;
    img {
      border-radius: 30px;
      height: 100%;
      width: 100%;
    }
  }

  .work-indeed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0 0;
    flex-direction: column;

    p {
      font-family: Inter;
      font-weight: normal;
      color: #000;
      font-size: 25px;
      margin-top: 0px !important;
      text-align: center;
    }
    a {
      background-color: #ff4800;
      color: #fff;
      padding: 15px 45px;
      border-radius: 30px;
      font-size: 18px;
      text-decoration: none;
      margin-top: 50px;
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .hero-section {
    height: unset;

    .heading h1 {
      font-size: 35px;
      margin: 25px 0 0 0;
    }

    .satellite-img img {
      height: unset;
    }
  }

  .upcoming-vote {
    padding: 45px 0;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      margin-top: 15px;
    }

    .global-market {
      height: unset;
      padding: 25px 0 0;
    }
  }

  .parallax-content h4 {
    font-size: 25px;
    margin-bottom: 0px;
  }

  .fcc-proposal {
    padding: 45px 0;

    h3 {
      font-size: 30px;
      margin: 25px 0;
    }
    p {
      font-size: 20px;
      margin-top: 15px;
    }

    .fcc-proposal-img {
      height: unset;
    }

    .dead-zones {
      padding: 20px;
      border-radius: 20px;
      margin: 0;
      h3 {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 0;
      }
      p {
        font-size: 20px;
        margin-top: 15px;
      }
    }

    .reason-rig {
      padding-left: 0;
      margin: 20px 0 10px 0;
    }

    .work-indeed {
      margin: 25px 0 0;
      p {
        font-size: 20px;
        margin-top: 0px !important;
      }
      a {
        margin-top: 25px;
      }
    }

    .satenna {
      margin: 25px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
