// 1st Section
.hero-section {
  background-image: url("../../assets/img/FTC-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 105vh;
  margin: 0 0 40px 0;

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 55px;
      font-weight: normal;
      margin: 75px 0 50px 0;
      text-align: center;
      font-family: sans-serif;

      span {
        color: #ff6629;
      }
    }
  }

  .satellite-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
    img {
      height: 360px;
    }
  }
}

// 2nd Section
.upcoming-vote {
  background-color: #efeffe;
  padding: 100px 0;

  h2 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: normal;
    color: #000;

    span {
      font-weight: 700;
      font-size: 34px;
    }
  }

  p {
    font-family: sans-serif;
    font-weight: normal;
    color: #000;
    font-size: 25px;
    margin-top: 50px;

    span {
      font-weight: 700;
    }
  }

  .global-market {
    padding: 0 30px;
    height: 500px;

    img {
      height: 100%;
    }
  }
}

// 4th Section
.fcc-proposal {
  padding: 100px 0;
  background-color: #fff;

  h3 {
    font-size: 36px;
    font-family: sans-serif;
    font-weight: normal;
    color: #000;

    span {
      font-weight: 700;
      font-size: 36px;
    }
  }

  p {
    font-family: sans-serif;
    font-weight: normal;
    color: #000;
    font-size: 25px;
    margin-top: 20px;

    span {
      font-weight: 700;
    }
  }

  .fcc-proposal-img {
    display: flex;
    justify-content: center;
    height: 450px;

    img {
      height: 100%;
    }
  }

  .satenna {
    margin: 50px 0;
  }

  .dead-zones {
    padding: 40px;
    background-color: #efeffe;
    border-radius: 60px;
    margin: 0 120px;

    h3 {
      font-size: 36px;
      font-family: sans-serif;
      font-weight: normal;
      color: #000;
      margin-bottom: 20px;
    }
    p {
      font-family: sans-serif;
      font-weight: normal;
      color: #000;
      font-size: 22px;
      margin-top: 20px;
    }
  }

  .reason-rig {
    height: 250px;
    width: 100%;
    padding-left: 60px;
    img {
      border-radius: 30px;
      height: 100%;
      width: 100%;
    }
  }

  .work-indeed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0 0;
    flex-direction: column;

    p {
      font-family: sans-serif;
      font-weight: normal;
      color: #000;
      font-size: 25px;
      margin-top: 0px !important;
      text-align: center;
    }
    a {
      background-color: #ff4800;
      color: #fff;
      padding: 15px 45px;
      border-radius: 30px;
      font-size: 18px;
      text-decoration: none;
      margin-top: 50px;
    }
  }
}
